.chapter{
    color: rgb(18 19 27);
    font-family: cursive;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #e9e6ef;
    width: 30vw;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: rgba(255,255,255,0.3);
    justify-content: center;
    flex-basis: 450px;
    margin-bottom: 15px;
    cursor: pointer;
}
.index {
    padding-top: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}